html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background-image: url('/images/IMG_7193.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  resize: both;
  width:100%;
  height:100%;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
  background-color: darkslategray;
  text-align: center;
}
